@import '~antd/dist/antd.css';

<<<<<<< HEAD
@import '~antd/dist/antd.css';
=======
>>>>>>> e6fb1883212ff4d8a8be5e91b53d295a26287975

h4 {
  color: white;
  font-weight: bold
}

.Login-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    }

.Login-input{
  margin: 15px;
  width: 400px;
}

.Sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    border-radius: 5%;
    border-color: white;
    background-color: #214C74;
    margin: 40px;
}

.Sign .Login-input{
  width: 250px;
}



.Banner {
  height: 80px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.Card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}