@import '~antd/dist/antd.css';


.site-layout-background {
    background: #fff;
  }

  .sidebar-layout-background {
    background: rgb(243, 243, 243);
    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 40px;
    margin-top: 50px ;
  }



  .social-icons {
    margin-top: 40px;
   
  }