@import '~antd/dist/antd.css';

<<<<<<< HEAD
.logo {
  padding-left: 50px;
}
.site-layout-background {
    background: rgb(255, 255, 255);
  }

  .sidebar-layout-background {
    background: rgba(33, 76, 118, 0.22);
    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 40px;
    margin-top: 50px ;
  }



  .social-icons {
    margin-top: 40px;
    padding-left: 160px;
   
  }
  
  
/* forcer la couleur l'élèment du menu choisi */
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
    border-bottom: 2px solid #214C74;
}

/* forcer la couleur l'élèment du menu choisi */
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #214C74;
=======
<<<<<<< HEAD
<<<<<<< HEAD
@import '~antd/dist/antd.css';
=======
>>>>>>> e6fb1883212ff4d8a8be5e91b53d295a26287975
=======

>>>>>>> modaltoken

h4 {
  color: white;
  font-weight: bold
}

.Login-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    }

.Login-input{
  margin: 15px;
  width: 400px;
}

.Sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    border-radius: 5%;
    border-color: white;
    background-color: #214C74;
    margin: 40px;
}

.Sign .Login-input{
  width: 250px;
}



.Banner {
  height: 80px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.Card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

>>>>>>> 598e591d1610c4d9d56e4c693f0bb5da5149df0d
}